/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
    font-family: Arial;
}

/* HEADER */
header{
    padding: 10px 20px;
    background-color: #ffffff;
}

.logo{
    display: inline-block;
    width: 50px;
    vertical-align: middle;
}

.text-logo{
    display: inline-block;
    vertical-align: middle;
    font-weight: 800;
    font-size: 40px;
}

/* MAIN */
.sezione{
    width: 60%;
    margin: auto;
    margin-top: 40px;
}

/* sezione superiore */
.button{
    font-size: 15px;
    padding: 7px 15px;
    border-radius: 5px;
    line-height: 50px;
}

.sezione-superiore{
    background-color: #ffffff;
    border-radius: 7px 7px 0px 0px;
    margin-bottom: 3px;
}

.sezione-superiore-sinistra{
    margin-left: 50px;
    margin-right: 7px;
    display: inline-block;
}

.sezione-superiore-destra{
    display: inline-block;
}

.button-blue{
    color: #f0f9fe;
    background-color: #47adf1;
    border: 1px solid #47adf1;
}

.button-gray{
    color: #d4d9dd;
    background-color: #ffffff;
    border: 1px solid #d4d9dd;
}

/* sezione inferiore */
.sezione-inferiore{
    background-color: #ffffff;
    border-radius: 0px 0px 7px 7px;
    padding: 30px 40px;
}

/* liste */
.sezione-inferiore ol{
    list-style: none;
    margin-bottom: 30px;
}

ol li{
    margin-bottom: 20px;
}

.arrow-down{
    font-size: 23px;
}

.titoli-lista{
    font-size: 20px;
    font-weight: 800;
}

a{
    text-decoration: none;
}

h3{
    display: inline-block;
}

/* bottoni */
.button2{
    color: #ffffff;
    font-size: 10px;
    padding: 7px;
    border-radius: 10px;
}

.color-button-blue{
    background-color: #45abea;
}

.color-button-purple{
    background-color: #9c72e4;
}

.color-button-green{
    background-color: #64c0a9;
}

.color-button-orange{
    background-color: #f29e33;
}

.color-button-pink{
    background-color: #d863a1;
}

.color-button-lightGreen{
    background-color: #b0c926;
}

/* simboli */
.simbolo{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid;
    text-align: center;
    line-height: 20px;
    margin-right: 10px;
}

.simbolo-positivo{
    color: green;
    border-color: green;
}

.simbolo-negativo{
    color: red;
    border-color: red;

}

